<h1>Home</h1>

<ol id='peeps'>
   <% @peeps.each do |peep| %>
   <li>
     User: <%= peep.user %>
     Peep: <%= peep.content %>
   </li>
  <%end%>
</ol>

<form action='/home/new' method='get'>
  <button type='submit' name='new_peep' value="enter">Post a peep</button>
</form>
