<h1>New Peep</h1>

<form action='/links/peeped' method='post'>
  <h3>User <input type='text' name="user"></h3>
  <h3>Content <input type='text' name="content"></h3>
  <input type='submit' value='post'>
</form>
